.container-app {
  width: 40%;
  height: 33%;
  text-align: center;
  border: 1px solid rgb(38, 132, 255);
}

.layout-app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}